# <%= scopedName %>

<%= description %>

## Build

This library is written in TypeScript and can be built using:

```sh
npm install
npm run build
```

## Installation

Install this package via npm:

```sh
npm install --save <%= scopedName %>
```

## Testing & Linting

Tests, linting & type-checking can be run with:

```sh
npm run test
```
