# package directories
node_modules
jspm_packages

# Yarn Berry
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ESBuild directories
.build

# IDE folders
vscode
.vscode

# Test coverage output
coverage

# Distribution
dist/



.nx/cache
.nx/workspace-data
vite.config.*.timestamp*